:root {
	--bg-button: #4842e9;
	--text-color: #eee;
	--bg-button-hover: rgb(17, 182, 94);
	--text-color-hover: #333;
}

.button__task {
	color: var(--text-color);
	background-color: var(--bg-button);
	width: 120px;
	height: 60px;

	margin: 8px 0 32px 0px;
	padding: 8px;
	border-radius: 4px;
	font-size: 1.2em;
	display: flex;
	align-items: center;
	justify-content: center;

	transition: background-color 0.3s;
	transition-timing-function: ease-in-out;
}

.button__task:hover {
	color: var(--text-color-hover);
	background-color: var(--bg-button-hover);
	transition: color 0.1s;
	transition-timing-function: ease-in-out;
	cursor: pointer;
}

@media (max-width: 420px) {
	.button__task {
		color: var(--text-color-hover);
		background-color: var(--bg-button-hover);
	}
}
